/* Scratch Grid System 
 *
 * This grid assumes that a gutter is of equal width as a single column which is defined by the baseline value
 */

// Set some config values by hand for now, these will have to be configured when installing scratch

// Baseline (value + unit)
// We should decide what units will be accepted: px, percentage and or em
$baseline: 28px;

// There are two ways to set the content width, either by setting the margins (what remains is the content width), 
// or by specifying the content width itself. The second scenario leaves room for a second tweak: 
// defining whether the content width is centered accross the view port, 
// or flushed left (right). So let's give that a go instead of margins.
$content-width: 994px;

// Page alignments (center, left, right)
$alignment: center;

// Left and rigth page margins (auto or value + unit)
$margins: auto;

// Columns (integer)
$columns: 35;

// Gutter tpye (string: margin, spacing, postioning)
// Determines whether gutter spacing is achieved through margins, padding or relative positioning. 
// This can be important when working with images and backgrounds. 
// Not sure about positioning, maybe padding and margin will suffice. 960 uses positioning for push.
$gutter: margin;

// Fluid (true or false)
$fluid: false;

// RTL (true or false)
$rtl: false;

// Namespace (null or string)
// Not sure if we still need this, 
// but a designer possibly wants to mix a margin and a padding version (see $gutter) of the same grid.
// Namespacing will allow for this.
$namespace: null;


// Set content width
@function content-width($content-width) {
	@if $fluid == true {
		// We will assume that 1024px == 100%
		$content-width: percentage($content-width/1024px);
	}
	@return $content-width;
}

// Determine column width
@function column-width( $baseline ) {

	// If number of columns is configurated, then this will be leading towards the column width
	@if $columns != 35 {
		$baseline: $width/$columns;
	}

	@if $fluid == true {
		// Convert to percentages
		 @if unit($baseline) == "px" {
		 	
		 }

	}
	@return $baseline;
}

// Set recalculated values
$column-width: column-width();
$content-width: content-width();


@mixin body {
	margin: 0;
	line-height: $baseline;
	@if $rtl == true {
	    direction: rtl;
	}
}